{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

  {% block stylesheets %}          
       <link rel="stylesheet" href="/css/form.css">
    {% endblock %}

{% block body %}

<div class="grid__form">

    <header>
        {% include '/partials/_navbar.html.twig' %}
       <section class="header__content">
                <h1 class="main__title">Ré-initialisation du mot de passe</h1>
        </section>
     {% for message in app.flashes('alert') %}
            <div class="flash--alert active container">
                {{ message }}
            </div>
     {% endfor %}

    </header>


    <main class="form__container">
    

       {{form_start(form, {'method' :'POST'})}}
            {{form_row(form.Email)}}
            <button class='form__btn btn__connect item__text--regular' type='submit'>ENVOYER</button>
       {{form_end(form)}}
    
    </main>

    <footer>
         {% include '/partials/_footer.html.twig' %}
    </footer>
</div>
{% endblock %}