{% extends 'base.html.twig' %}

{% block title %}Le Quai Antique{% endblock %}

{% block body %}
    <header>
        {% include '/partials/_navbar.html.twig' %}

        <section class="header__img home_bg">
        </section>

        <section class="header__content">
            <h1 class="main__title">Le Quai Antique</h1>
            <p class="text--regular pad-top--middle">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi, pariatur.</p>
          
        </section>

    </header>

    <main class="container">

        <section class="box__wrapper">
            <article class="box__img img__border img__border--left">
                <img src="/img/pres_section.webp" alt="chef etoilé">
            </article>
            <article class="box__content">
                <div class="box__desc">
                    <h2 class="second__title">Arnaud Michan, Chef étoilé</h2>
                    <p class="text--regular">Pour son 3éme réstaurant, le chef triplement étoilé a décidé d'ouvrir un
                        restaurant dans sa région de coeur en Savoie à Chambéry</p>
                    <p class="text--regular pad-y--small">Epaulé par une équipe hors pair, il vous propose une cuisine savoureuse et
                        distingué.</p>
                    <p class="text--regular">Il a su marié les saveurs d'autrefois et d'aujourd'hui pour vous proposer des plats originaux et vous transporter dans un univers haut en émotions..</p>
                </div>
            </article>

        </section>

        <section class="box__wrapper">
            <article class="box__img img__border img__border--right">
                <img src="/img/resto.webp" alt="interieur restaurant">
            </article>
            <article class="box__content">
                <div class="box__desc">
                    <h2 class="second__title">Le restaurant, un lieu d'exception</h2>
                    <p class="text--regular">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, maxime
                        magni quae voluptatibus fugiat et sed doloremque molestias hic. Odio quisquam et culpa fugiat
                        vitae?</p>
                    <p class="text--regular pad-y--small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo at alias aut
                        reprehenderit nihil voluptate illum quos labore doloremque a, ducimus, atque adipisci officia
                        commodi consequuntur nulla.</p>
                </div>
            </article>

        </section>

        <section class="box__carrousel">
            <h2 class="second__title">Une sélection de nos plats du moment</h2>
            <div class="carousel">

                <div class="carrousel__wrapper">
                 
                        {% for slider in sliders %}

                         <div class="carrousel__pics">
                            <div class="pic">
                                <img src="{{ asset('img/slideshow/'~ slider.urlimage) }}" alt="{{ slider.title }}">
                            </div>
                            <p class="text--regular">{{ slider.title}}</p>
                        </div>
                        {% endfor %}
                    
                        
                </div>
                <!--arrows-->
               <span id="arrow-right" class="slide-right"><i class="fa-solid fa-circle-chevron-right "></i></span> 
                <span id="arrow-left" class="slide-left"><i class="fa-solid fa-circle-chevron-left"></i></span>

            </div>

            <a href=" {{ path('app_booking') }}" class="btn__link">RESERVER UNE TABLE 
                <i class="fa-solid fa-chevron-right chev chev-1"></i>
                <i class="fa-solid fa-chevron-right chev chev-2"></i>
                <i class="fa-solid fa-chevron-right chev chev-3"></i>
            </a>

        </section>

    </main>


    <footer>
        {% include '/partials/_footer.html.twig' %}
    </footer>


{% endblock %}
