 <div class="footer__wrapper">
                <article class="footer__item footer__info">
                    <h3>Le Quai Antique</h3>
                    <p>chemin des Curtillets</p>
                    <p>73000 CHAMBERY</p>
                    <p><i class="fa-solid fa-phone-flip"></i> 04.24.95.45.34</p>
                    <p>contact@lequaiantique.fr</p>
                    <ul class="social-icon">
                        <li class="item__social facebook"><a href="https://wwww.facebook.com"><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li class="item__social instagram"><a href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a></li>
                        <li class="item__social twitter"><a href="https://www.twitter.com"><i class="fa-brands fa-twitter"></i></a></li>
                    </ul>
                </article>
                <article class="footer__item footer__schedule">
                    <h3>Nos Horaires</h3>
                    <div class="grid__schedule">
                      <table>
                        <tbody>
                            <tr>
                                <td>Lundi</td>
                                <td>Ferme</td>
                                <td>19:00 a 22h00</td>
                            </tr>
                            <tr>
                                <td>Mardi</td>
                                <td>11:00 à 13:00</td>
                                <td>19:00 a 22h00</td>
                            </tr>
                            <tr>
                                <td>Mercredi</td>
                                <td>11:00 à 13:00</td>
                                <td>19:00 a 22h00</td>
                            </tr>
                            <tr>
                                <td>Jeudi</td>
                                <td>11:00 à 13:00</td>
                                <td>19:00 a 22h00</td>
                            </tr>
                            <tr>
                                <td>Vendredi</td>
                                <td>11:00 à 13:00</td>
                                <td>19:00 a 22h00</td>
                            </tr>
                            <tr>
                                <td>Samedi</td>
                                <td>11:00 à 13:00</td>
                                <td>19:00 a 22h00</td>
                            </tr>
                            <tr>
                                <td>Dimanche</td>
                                <td>Ferme</td>
                                <td>Ferme</td>
                            </tr>
                        </tbody>
                      </table>
                    </div>
                </article>
                <article class="footer__item footer__newsletter">
                    <h3>NewsLetter</h3>
                    <p>Pour être informé des nouveauté :</p>
                    <form method="POST">
                        <input type="text" name="email" placeholder="entrer votre email">
                        <button class="btn__form">Inscription</button>
                    </form>
                </article>

        </div>
        <div class="barre"></div>
        <div class="legal">
            <ul class="legal__list">
                <li>Le Quai Antique <i class="fa-regular fa-copyright"></i> 2023 |</li>
                <li><a href="#">Mentions Légales</a> |</li>
                <li><a href="#">Politique de confidentialite</a></li>
            </ul>
        </div>