<div>Midi</div>

<ul class="d-flex--wrap">
  {% if lunch[0] != '00:00' %}
    {% for key, value in lunch %}
         <li class="list__time" >{{ value|date('H:i') }}</li> 
    {% endfor %}
  {% else %}
      <p>Aucun creneau disponible</p>

  {% endif %}
  
</ul>

<div>Soir</div>

<ul class="d-flex--wrap">
  {% if dinner[0] != '00:00' %}
    {% for key, value in dinner %}
         <li class="list__time" >{{ value|date('H:i') }}</li> 
    {% endfor %}
   {% else %}
    <p>Aucun creneau disponible</p>
   {% endif %}
</ul>
