{% extends 'base.html.twig' %}

{% block title %}Notre Cartes{% endblock %}

{% block body %}

<header>
            {% include '/partials/_navbar.html.twig' %}

            <section class="header__content">
                <h1 class="main__title">Notre Carte du restaurant</h1>
                <p class="regular__text pad-top--middle">Notre carte est renouvellée à chaque saison pour vous offrir de nouvelles saveurs</p>
            </section>
</header>

<main class="container">
     <section class="box__wrapper">
            <article class="box__img pad-y--small">
                <img src="/img/entree.jpg" alt="chef etoilé">
            </article>
            <article class="box__content">
                <div class="box__desc">
                    <h2 class="second__title ">ENTREE</h2>
    
                    <ul class="pad-y--small">
                        <li class="item__wrapper pad-y--small">
                            <div class="item__content">
                                <p class="txt__menu">Salade de Chevre et sonaccompagnement de crudite</p>
                                <p class="item__text--italic">Croustillan au chevre laitue, confis d'ognon</p>
                            </div>
                            <p class="item__price">15,00 €</p>
                        </li>
                        <li class="item__wrapper pad-y--small">
                             <div class="item__content">
                                 <p class="txt__menu">Salade de Chevre et sonaccompagnement de crudite</p>
                                 <p class="item__text--italic">Croustillan au chevre laitue, confis d'ognon</p>
                             </div>
                             <p class="item__price">15,00 €</p>
                        </li>
                    </ul>
                </div>
            </article>
        </section>
        <section class="box__wrapper">
            <article class="box__img pad-y--small">
                <img src="/img/plat.jpg" alt="chef etoilé">
            </article>

            <article class="box__content ">
                <div class="box__desc">
                    <h2 class="second__title ">PLATS</h2>
    
                    <ul class="pad-y--small">
                        <li class="item__wrapper pad-y--small">
                            <div class="item__content">
                                <p class="txt__menu ">Salade de Chevre et sonaccompagnement de crudite</p>
                                <p class="item__text--italic">Croustillan au chevre laitue, confis d'ognon</p>
                            </div>
                            <p class="item__price">15,00 €</p>
                        </li>
                        <li class="item__wrapper pad-y--small">
                             <div class="item__content">
                                 <p class="txt__menu">Salade de Chevre et sonaccompagnement de crudite</p>
                                <p class="item__text--italic">Croustillan au chevre laitue, confis d'ognon</p>
                             </div>
                             <p class="item__price">15,00 €</p>
                        </li>
                    </ul>
                </div>
            </article>
        </section>
          <section class="box__wrapper">
            <article class="box__img pad-y--small">
                <img src="/img/dessert.jpg" alt="chef etoilé">
            </article>
            <article class="box__content">
                <div class="box__desc">
                    <h2 class="second__title ">DESSERTS</h2>
    
                    <ul class="pad-y--small">
                        <li class="item__wrapper ">
                           
                                <p class="txt__menu">Creme au chocolat</p>
            
                           
                            <p class="item__price">15,00 €</p>
                        </li>
                        <li class="item__wrapper pad-y--small">
                            
                            <p class="txt__menu">Tiramisu au chocolat</p>
                               
                            <p class="item__price">15,00 €</p>
                        </li>
                    </ul>
                </div>
            </article>
        </section>

</main>

<footer>
     {% include '/partials/_footer.html.twig' %}
</footer>


{% endblock %}
