<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <meta name="description"
        content="restaurant gastronomique dirigé par un chef etoile originaire de cette région qui met tout savoir au service du palet de ses convive. Un lieu parfait pour une expérience unique">
        <meta http-equiv="Content-Security-Policy" content="object-src 'none'">
        <title>{% block title %}{% endblock %}</title>
        {# <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"> #}
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

        {# FONT AWESOME #}
    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        {# CSS Files #}
        <link rel="stylesheet" href="/css/style.css">

        {% block stylesheets %}
            
        {% endblock %}

    </head>
    <body>
 

        {% block body %}{% endblock %}


       {# JS Files #}
       
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"></script>
        <script src="/js/script.js"></script>
        {% block javascripts %}
           
        {% endblock %}
    </body>
</html>
