{% extends 'base.html.twig' %}

 {% block stylesheets %}
            
<link rel="stylesheet" href="/css/error.css">
 {% endblock %}


{% block body %}

<div class="page">

    <div class="block__left">
        <img src="{{ asset('img/icones/404-error.svg') }}" alt="error">
    </div>
    <div class="block__right">
            <h1 class="main__title">Un problème est survenu ! </h1>
            <p class="second__title"> Le service mail n'est pas disponible. <p>
            <p class="text--regular"> Cause : {{ error }} </p>
            

            <p class="text--regular">Retour à l'acceuil : <a href="{{ path('app_home') }}"><i class="fa-solid fa-house"></i></a> </p>
    </div>

</div>
{% endblock %}