{% extends 'base.html.twig' %}

{% block title %}Creer un compte utilisateur{% endblock %}

  {% block stylesheets %}          
       <link rel="stylesheet" href="/css/form.css">
    {% endblock %}

{% block body %}
    <div class="grid__form">

            <header>
                {% include '/partials/_navbar.html.twig' %}
            </header>

            <main  class="form__container">
                <section class="form__wrapper">
                    <div class="block__text d-flex--col">
                         <h2 class="text--bold">Pourquoi créer son <span class="text__color--light">espace client</span> ?</h2>
                         <ol class="text--light">
                            <li>Réservation et annulation simplifié</li>
                             <li>Connaitre la disponibilité</li>
                            <li>Historique des dernieres visites</li>
                         </ol>
                    </div>
                     <div class="block__form">
                        <h1 class="text--bold pad-y--small center" >Créer son compte</h1>
                        {{ form(form, { 'attr' : { 'class' : 'form__content'}}) }}
                     </div>
                </section>
            </main>

            <footer>
                 {% include '/partials/_footer.html.twig' %}
            </footer>
    </div>
    
{% endblock %}
